<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <form action="/" method="post">

        <h3 class="heading">Login</h3>
        <br>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Enter Email" autocomplete="on">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" autocomplete="on">
        <br>
        <button type="submit">Login</button>

        <% if( typeof message !== "undefined" ){ %>
            <p style="color:red;"><%= message %></p>
        <% } %>
    </form>
</body>
</html>